select {
  /* Remove browsers' native style */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  /* Declare custom style */
  background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-origin: content-box;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 16px 17px;
}

input[type=radio] {
  /* Remove browsers' native style */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Declare custom style */
  border: 2px solid #C6C6C6;
  border-radius: 50px;
  color: #666;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 30px;
  height: 30px;
}

input[type=radio]:checked::before {
  background: #8040FF;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
}

input[type=checkbox]:checked +
.label-inline--tos-agreement .custom-checkmark { stroke-dashoffset: 0; }

input[type=checkbox] {
  display: none;
  pointer-events: none;
}

svg {
  fill: white;
  stroke: #1A004E;
  stroke-width: 5;
  width: 2em;
}

.label-inline--tos-agreement {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: .5em;
}

.custom-checkmark {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  transition: stroke-dashoffset .3s linear;
}
