/* ##### */
/* FORMS */
/* ----- */

label,
.p-error-message,
.a-back-step-form,
.input-submit { font-weight: bold; }

input[type='text']:focus,
input[type='email']:focus,
input[type='submit']:focus,
select:focus,
textarea:focus { outline: 3px solid var(--clr-chalice); }

input,
label,
select,
textarea,
.a-back-step-form { display: block; }

input,
select,
textarea,
.p-error-message,
.radio-buttons { margin-bottom: 1.125em; }

.a-back-step-form,
.input-submit {
  background: var(--clr-accent);
  color: white;
  flex-basis: 45%;
  font-size: 1.125rem;
}

input,
select,
textarea {
  border: 1px solid gray;
  border-radius: .2em;
  font-family: inherit;
  font-size: inherit;
  padding: .875em;
  width: 100%;
}

input[type='checkbox'],
input[type='radio'],
.label-inline {
  display: inline;
  margin: 0;
  width: unset;
}

.label-inline +
input[type='radio'] { margin-left: 1em; }

label { margin-bottom: .5em; }

form { margin-bottom: 2.5em; }

.input-with-error {
  border: 3px solid var(--clr-error);
  margin-bottom: 0;
}

.label-inline {
  font-weight: normal;
  margin-left: .5em;
}

.p-error-message {
  background: var(--clr-error);
  font-size: .875rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-top: -.1em;
  padding: .3em .5em;
}

.input-submit {
  border: unset;
  cursor: pointer;
  margin-bottom: 0;
  margin-left: auto;
}

.a-back-step-form {
  border-radius: .2em;
  padding: .875em;
  text-align: center;
  text-decoration: none;
}

.buttons-form {
  display: flex;
  margin-top: 2.625em;
}

.radio-buttons {
  align-items: center;
  display: flex;
}


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 900px) {

  form,
  .input-submit { margin-bottom: 0; }

  form { grid-column: 1; }

}
