/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-primary:   #1A004E;
  --clr-accent:    #8040FF;
  --clr-grey:      #797979; /* progress */
  --clr-chalice:   #ACACAC; /* input border */
  --clr-cloud:     #F0F0F0;
  --clr-error:     #FFB3B3;
  --clr-haiti:     #1B1820; /* input text */
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  color: var(--clr-primary);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

/* Rare situation where compound selector makes sense */
/* Simplifies & improves readability of both, markup & CSS */
.li-progress.current .span-circle {
  background: var(--clr-primary);
  color: white;
}

.li-progress.current .a-progress { color: var(--clr-primary); }

.span-circle,
.a-progress {
  color: var(--clr-grey);
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1.375em;
  position: relative;
}

h2::after {
  content: '';
  background: var(--clr-accent);
  border-radius: 1em;
  position: absolute;
  top: -.375em;
  left: 0;
  width: 2em;
  height: .3em;
}

p:last-child { margin-bottom: 0; }

.li-progress { flex-basis: 31%; }

.ol-progress {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2em auto;
  padding: 0;
  width: 20em;
}

.span-circle {
  background: white;
  border-radius: 50%;
  display: grid;
  margin-bottom: .5em;
  place-content: center;
  width: 3em;
  height: 3em;
}

.a-progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


/* ###### */
/* LAYOUT */
/* ------ */

main {
  background: var(--clr-cloud);
  min-height: 100vh;
  padding: 2em .5em;
  text-align: center;
}

.section-form {
  background: white;
  padding: 2.5em 1em;
  text-align: left;
  margin: 2em auto 0;
}


/* ##### */
/* FORMS */
/* ----- */

label,
.p-error-message,
.a-previous-step-form,
.input-submit { font-weight: bold; }

input[type='text']:focus,
input[type='email']:focus,
input[type='submit']:focus,
select:focus,
textarea:focus { outline: 3px solid var(--clr-chalice); }

input,
label,
select,
textarea,
.a-previous-step-form { display: block; }

input,
select,
textarea,
.p-error-message,
.radio-buttons { margin-bottom: 1.125em; }

.a-previous-step-form,
.input-submit {
  background: var(--clr-accent);
  color: white;
  flex-basis: 45%;
  font-size: 1.125rem;
}

input,
select,
textarea {
  border: 1px solid gray;
  border-radius: .2em;
  font-family: inherit;
  font-size: inherit;
  padding: .875em;
  width: 100%;
}

input[type='radio'],
.label-inline {
  margin: 0;
  width: unset;
}

.label-inline +
input[type='radio'] { margin-left: 1em; }

label { margin-bottom: .5em; }

form { margin-bottom: 2.5em; }

.input-error {
  border: 3px solid var(--clr-error);
  margin-bottom: 0;
}

.label-inline { margin-left: .5em; }

.p-error-message {
  background: var(--clr-error);
  font-size: .875rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-top: -.1em;
  padding: .3em .5em;
}

.input-submit {
  border: unset;
  cursor: pointer;
  margin-bottom: 0;
  margin-left: auto;
}

.a-previous-step-form {
  border-radius: .2em;
  padding: .875em;
  text-align: center;
  text-decoration: none;
}

.buttons-form {
  display: flex;
  margin-top: 2.625em;
}

.radio-buttons {
  align-items: center;
  display: flex;
}


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 500px) {

  .section-form { max-width: 500px; }

}

@media (min-width: 900px) {

  h2 { font-size: 1.6125rem; }

  form,
  .input-submit { margin-bottom: 0; }

  aside {
    /* A) without grid-auto-flow:dense */
    /* grid-column: 2;
    grid-row: 1 / span 2; */
    /* B) with grid-auto-flow:dense */
    grid-row: span 2;
  }

  form { grid-column: 1; }

  .section-form {
    /* see aside { .. B) .. }  */
    grid-auto-flow: dense;
    column-gap: 2.5em;
    display: grid;
    grid-template-columns: 5fr 4fr;
    max-width: 900px;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

}