/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-primary:   #1A004E;
  --clr-accent:    #8040FF;
  --clr-grey:      #797979; /* progress */
  --clr-chalice:   #ACACAC; /* input border */
  --clr-cloud:     #F0F0F0;
  --clr-error:     #FFB3B3;
  --clr-haiti:     #1B1820; /* input text */
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  color: var(--clr-primary);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

.span-circle,
.a-progress {
  color: var(--clr-grey);
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1.375em;
  position: relative;
}

h2::after {
  content: '';
  background: var(--clr-accent);
  border-radius: 1em;
  position: absolute;
  top: -.375em;
  left: 0;
  width: 2em;
  height: .3em;
}

p:last-child { margin-bottom: 0; }

.li-progress { flex-basis: 31%; }

.ol-progress {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2em auto;
  padding: 0;
  width: 20em;
}

.span-circle {
  background: white;
  border-radius: 50%;
  display: grid;
  margin-bottom: .5em;
  place-content: center;
  width: 3em;
  height: 3em;
}

.span-circle--current {
  background: var(--clr-primary);
  color: white;
}

.a-progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.a-progress--current { color: var(--clr-primary); }


/* ###### */
/* LAYOUT */
/* ------ */

main {
  background: var(--clr-cloud);
  padding: 2em .5em;
  text-align: center;
}

.section-form {
  background: white;
  padding: 1em;
  text-align: left;
  margin: 2em auto 0;
  padding-top: 2.5em;
}


/* ##### */
/* FORMS */
/* ----- */

input[type='text']:focus,
input[type='email']:focus,
input[type='submit']:focus { outline: 3px solid var(--clr-chalice); }

input,
label { display: block; }

input,
.p-error-message { margin-bottom: 1.125em; }

label,
.p-error-message { font-weight: bold; }

input {
  border: 1px solid gray;
  border-radius: .2em;
  font-family: inherit;
  font-size: inherit;
  padding: .875em;
  width: 100%;
}

label { margin-bottom: .5em; }

form { margin-bottom: 2.5em; }

.input-error {
  border: 3px solid var(--clr-error);
  margin-bottom: 0;
}

.p-error-message {
  background: var(--clr-error);
  font-size: .875rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-top: -.1em;
  padding: .3em .5em;
}

.submit-form {
  border: unset;
  background: var(--clr-accent);
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 2.5em;
}
