/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-fog: #EEE;
  --clr-smoke: #DDD;
  --clr-pear: #72A84A;
  --clr-pistachio: #D8EACB;
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  background: var(--clr-pistachio);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

.li-feature,
.li-featured-cabin  { margin-bottom: 4.25em; }

/* ---------- */

h1 { margin-bottom: 0; }

blockquote { font-family: 'Playfair Display', serif; }

p {
  font-size: .95rem;
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

/* ---------- */

.blockquote-main {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1em;
}

.blockquote-testimonial {
  font-size: 1.1rem;
  font-style: italic;
}

.h2-featured-cabin {
  color: var(--clr-pear);
  font-size: 1.4rem;
}

.li-featured-cabin {
  /* Containing block (CB) of .a-featured-cabin-cta::after */
  position: relative;
}

.li-testimonial { margin-bottom: 3em; }

.p-feature { color: var(--clr-smoke); }

.p-strapline { padding-bottom: .5em; }

.ul-features {
  margin: 3em auto;
  width: 70%;
}

.ul-featured-cabins {
  margin: 0 auto;
  width: 60%;
}

.ul-testimonials { margin: 3em auto; }

/* ---------- */

.cite-main { font-size: 1.2rem; }

.cite-main::after {
  background: var(--clr-pear);
  content: '';
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -2em;
  height: 3px;
  width: 40vw;
}

.cite-testimonial {
  font-size: .9rem;
  font-weight: bold;
}

.span-h1 { display: block; }

.a-cta {
  background: var(--clr-pear);
  border-radius: .2em;
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 4em auto;
  padding: .5em 1.5em;
}

.a-featured-cabin-cta {
  border-radius: .2em;
  color: white;
  font-weight: bold;
  padding: .125em 1em;
}

.a-featured-cabin-cta:hover { background: var(--clr-pear); }

.a-featured-cabin-cta::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  /* Containing block (CB) is .li-featured-cabin */
  position: absolute;
  bottom: -.875em;
  /* Center absolutely: */
  left: 0; right: 0;
  margin: 0 auto;
  width: 65%;
}


/* ############ */
/* HEADER & NAV */
/* ------------ */

header {
  background: var(--clr-fog);
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.li-nav { margin-bottom: 1em; }

.li-nav--exit-nav { margin-bottom: 4em; }

.ul-nav {
  background: var(--clr-pear);
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
}

/* ------------ */

.a-logo {
  color: black;
  font-weight: bold;
}

.a-nav {
  border: 1px solid transparent;
  color: #333;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .625em 0;
  text-align: center;
}

.a-nav:focus,
.a-nav:hover { border-color: #333; }

.a-nav--exit-nav {
  border: none;
  margin-left: auto;
  padding: 0;
  position: absolute;
  top: .33em; /* ~ 8px = 1/2 of 16px = .5em of header */
  right: .33em;
}

/* ------------ */

.img-exit-nav,
.img-open-nav { width: 30px; }

.img-open-nav { cursor: pointer; }

/* ------------ */

.display-nav { visibility: visible; }


/* ###### */
/* LAYOUT */
/* ------ */

.col-left--bio { padding: 0 1em; }

.flex { margin-top: 5em; }

.container-features {
  background: #1A1A1A;
  color: white;
}

.container-testimonials { margin-top: 2em; }

.hero-forest {
  background: url(images/forest.jpg);
  background-size: cover;
  color: white;
}

.wrapper {
  padding: .5em;
  text-align: center;
}

.wrapper-hero-forest { padding-top: 3em; }


/* ###### */
/* IMAGES */
/* ------ */

.img-arrow-a-featured-cabin-cta,
.img-featured-cabin-a,
.img-icon { display: inline; }

.img-featured-cabin-a,
.img-icon { margin-bottom: 1em; }

.img-arrow-a-featured-cabin-cta { margin-left: .5em; }

.img-featured-cabin-a { box-shadow: 10px 10px 10px rgba(0, 0, 0, .2); }

.img-testimonial {
  border-radius: 50%;
  margin: 0 auto;
  width: 50px;
}


/* ##### */
/* UTILS */
/* ----- */

.no-padding { padding: 0; }
