/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-fog: #EEE;
  --clr-smoke: #DDD;
  --clr-pear: #72A84A;
  --clr-pearshine: #82b55c;
  --clr-pistachio: #D8EACB;
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  background: var(--clr-pistachio);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

.li-feature,
.li-featured-cabin  { margin-bottom: 4.25em; }

/* ---------- */

h1 { margin-bottom: 0; }

blockquote { font-family: 'Playfair Display', serif; }

p {
  font-size: .95rem;
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

/* ---------- */

.blockquote-main {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1em;
}

.blockquote-testimonial {
  font-size: 1.1rem;
  font-style: italic;
}

.h2-featured-cabin {
  color: var(--clr-pear);
  font-size: 1.4rem;
}

.li-featured-cabin {
  /* Containing block (CB) of .a-featured-cabin-cta::after */
  position: relative;
}

.li-testimonial { margin-bottom: 3em; }

.p-feature { color: var(--clr-smoke); }

.p-strapline { padding-bottom: .5em; }

.ul-features {
  margin: 3em auto;
  width: 70%;
}

.ul-featured-cabins {
  margin: 0 auto;
  width: 60%;
}

.ul-testimonials { margin: 3em auto; }

/* ---------- */

.cite-main { font-size: 1.2rem; }

.cite-main::after {
  background: var(--clr-pear);
  content: '';
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -2em;
  height: 3px;
  width: 40vw;
}

.cite-testimonial {
  font-size: .9rem;
  font-weight: bold;
}

.span-h1 { display: block; }

.a-cta {
  background: var(--clr-pear);
  border-radius: .2em;
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 4em auto;
  padding: .5em 1.5em;
}

.a-featured-cabin-cta {
  border-radius: .2em;
  color: white;
  font-weight: bold;
  padding: .15em 1em;
}

.a-featured-cabin-cta:hover { background: var(--clr-pear); }

.a-featured-cabin-cta::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  /* Containing block (CB) is .li-featured-cabin */
  position: absolute;
  bottom: -.875em;
  /* Center absolutely: */
  left: 0; right: 0;
  margin: 0 auto;
  width: 65%;
}

@media (min-width: 550px) {

  .blockquote-testimonial,
  .cite-testimonial {
    margin-right: 0;
    margin-left: 2em;
  }

  h1 { font-size: 2.4rem; }

  .h2-feature {
    align-self: start;
    font-size: 1.3rem;
    order: 1;
  }

  .li-feature {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 2fr 3fr;
    place-items: center;
  }

  .li-featured-cabin { margin-bottom: 5em; }

  .li-testimonial {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .p-feature {
    grid-row: span 2;
    text-align: left;
  }

  .ul-features { width: 75%; }

  .ul-featured-cabins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vw;
    width: 94%;
  }

  .a-featured-cabin-cta::after {
    bottom: -1.375em;
    width: 70%;
  }

}

@media (min-width: 900px) {

  h1 { font-size: 3em; }

  .blockquote-main { font-size: 2.8em; }

  .cite-main { font-size: 1.5em; }

  .li-feature { display: unset; }

  .li-testimonial { justify-content: flex-end;}

  .p-feature { text-align: center; }

  .ul-featured-cabins,
  .ul-testimonials { flex-basis: 66%; }

  .ul-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vw;
    width: 94%;
  }

  .a-featured-cabin-cta::after {
    margin: unset;
    width: unset;
  }

}


/* ###### */
/* LAYOUT */
/* ------ */

.col-left--bio { padding: 0 1em; }

.flex { margin-top: 5em; }

.container-features {
  background: #1A1A1A;
  color: white;
}

.container-testimonials {
  margin-top: 2em;
  /* CB of .img-fern */
  position: relative;
}

.hero-forest {
  background: url(images/forest.jpg);
  background-size: cover;
  color: white;
}

.wrapper {
  padding: .5em;
  text-align: center;
}

.wrapper-hero-forest { padding-top: 3em; }

@media (min-width: 550px) {

  .col-left--bio {
    margin: 0 auto;
    max-width: 580px;
  }

  .col-testimonial { text-align: left; }

}

@media (min-width: 900px) {

  .flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 94%;
  }

  .flex--testimonials { max-width: 800px; }

  .col-left { flex-basis: 34%; }

}


/* ###### */
/* IMAGES */
/* ------ */

.img-arrow-a-featured-cabin-cta,
.img-featured-cabin-a,
.img-icon { display: inline; }

.img-featured-cabin-a,
.img-icon { margin-bottom: 1em; }

.img-arrow-a-featured-cabin-cta { margin-left: .5em; }

.img-featured-cabin-a { box-shadow: 10px 10px 10px rgba(0, 0, 0, .2); }

.img-fern {
  /* CB is .container-testimonials */
  opacity: .08;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
}

.img-testimonial {
  border-radius: 50%;
  margin: 0 auto;
  width: 50px;
}

@media (min-width: 550px) {

  .img-testimonial {
    margin: unset;
    height: 60px; width: 60px;
  }

}


/* ##### */
/* UTILS */
/* ----- */

.no-padding { padding: 0; }
