body { background: white; }

.h1-main-copy { margin-bottom: 1em; }

.h2-featured-cabin {
  color: #333;
  position: relative;
  text-shadow: 3px 3px105px var(--clr-pistachio);
  z-index: 10;
}

.h2-featured-cabin::before {
  background: var(--clr-pistachio);
  border-radius: 50%;
  content: '';
  filter: blur(6px);
  margin: auto;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: -10px;
  left: 0;
  width: 8em;
  z-index: -1;
}

.p-sub-desc {
  margin: 0 auto 2em;
  max-width: 640px;
}

.a-featured-cabin-cta {
  color: unset;
  transition: .15s ease-in-out;
}

.a-featured-cabin-cta:hover { background: var(--clr-pearshine); }

.a-featured-cabin-cta::after {
  background: #333;
  margin: auto;
  width: 60%;
}

.hero-sub {
  background: url('images/forest-bg-2.jpg');
  background-size: cover;
  height: 50vh;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.breadcrumbs li + li { margin-left: .25em; }

.main-copy {
  margin-top: 3em;
  margin-bottom: 2em;
}

@media (min-width: 900px) {

  .main-copy,
  .ul-featured-cabins { margin-left: 2em; }

  .p-sub-desc { font-size: 1.1em; }

  .ul-featured-cabins {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .breadcrumbs {
    grid-column: 1 / -1;
    justify-content: flex-start;
  }

  .main-copy {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2em;
    text-align: left;
    max-width: 900px;
    width: 94%;
  }
}