/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-mint: #AADFC5;
  --clr-jade: #47946E;
  --clr-brown: #7A4900;
}

*, *::before, *::after {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* NAVIGATION */
/* ---------- */

.btn-nav-close,
.btn-nav-open {
  cursor: pointer;
  height: 1.5em;
}

.btn-nav-close {
  align-self: flex-end;
  margin: .4em .5em 1em 0;
}

.nav-ul {
  display: none;
  flex-direction: column;
  height: 100vh;
  list-style: none;
  margin: 0;
  padding: .5em 0 ;
  position: absolute; top: 0; right: 0;
  width: 43%;
}

.nav-ul-li { margin: 1em 0; }

.a-nav {
  display: block;
  padding: .5em 1em;
}

.show-nav-ul { display: flex; }

.hide-btn-nav-open { visibility: hidden; }


/* ###### */
/* LAYOUT */
/* ------ */

.container--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}


/* ###### */
/* IMAGES */
/* ------ */

.img-fern,
.img-plant { display: none; }

.img-plant { max-width: unset; }

.plant-img-clip-container { overflow-x: hidden; }
