/* ###### */
/* GLOBAL */
/* ------ */

*,
*::before,
*::after {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

:root {
  --clr-mint: #AADFC5;
  --clr-jade: #47946E;
  --clr-brown: #7A4900;
}

body {
  font-family: 'Lato';
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
p { margin-top: 0; }

h1 {
  color: var(--clr-brown);
  font-family: 'Cinzel', serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

p { line-height: 1.4; }


/* ########## */
/* NAVIGATION */
/* ---------- */

.a-btn,
.a-logo { text-decoration: none; }

.btn-close-ul-nav,
.btn-open-ul-nav {
  cursor: pointer;
  height: 1.5em;
}

.a-btn {
  background: var(--clr-brown);
  border: 2px solid white;
  border-radius: .25em;
  color: white;
  display: inline-block;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
  padding: .4em 2em;
}

.a-logo {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .2em 0;
}

.a-nav {
  color: white;
  display: block;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  padding: .3em .7em;
  text-decoration: none;
}

.btn-close-ul-nav { align-self: flex-end; }

.current {
  border: 1px solid white;
  border-radius: .25em;
}

.btn-open-ul-nav--hidden { visibility: hidden; }

.li-nav { margin: 1em 0; }

.li-nav:first-of-type { margin-top: 3em; }

.ul-nav {
  background: var(--clr-brown);
  border-bottom-left-radius: .5em;
  display: none;
  flex-direction: column;
  height: 59vh;
  list-style: none;
  margin: 0;
  padding: 1.2em .8em 2em .8em;
  position: absolute; top: 0; right: 0;
  width: 55%;
}

.ul-nav--displayed { display: flex; }

.container--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


/* ###### */
/* LAYOUT */
/* ------ */

header {
  background: var(--clr-brown);
  color: white;
}

main { margin-top: 2em; }

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.container {
  margin: 0 auto;
  padding: 1.2em;
}

.container--main { max-width: 460px; }


/* ###### */
/* IMAGES */
/* ------ */

.img-fern {
  /* if <div class=''img-fern> */
  /* background: url(images/fern.svg) no-repeat; */
  /* width: 75vw; */
  height: 50vh;
  opacity: .1;
  position: absolute;
  top: 30vh;
  left: 0;
  z-index: -1;
}

.img-plant {
  /* --- unset img global defaults set atop --- */
  display: unset;
  max-width: unset;
  /* --- eof unset --- */

  position: absolute;
  right: -15%; /* -1 */
  bottom: -30%; /* -28 */
  width: 410px; /* 350 */
}

.img-plant-clipper {
  overflow: hidden;
  position: absolute;
  right: 0; bottom: 0;
  width: 100vw; height: 100vh;
  z-index: -1;
}


/* ############## */
/* MOBILE QUERIES */
/* -------------- */

@media (min-width: 600px) {

  body { font-size: 1.2rem; }

  .li-nav,
  .li-nav:first-of-type { margin: unset; }

  .btn-close-ul-nav,
  .btn-open-ul-nav { display: none; }

  .li-nav +
  .li-nav { margin-left: .6em; }

  .a-nav {
    font-size: 1rem;
    padding: .2em 1em;
  }

  .ul-nav {
    display: flex;
    flex-direction: unset;
    height: unset;
    padding: unset;
    position: unset;
    width: unset;
  }

  .container--header { padding: 1em 1.2em; }

  .img-plant {
    right: -10%;
    bottom: -20%;
    width: 610px;
  }

}

@media (min-width: 900px) {

  .container { max-width: 900px; }

  .col-main { max-width: 460px; }

  .img-plant {
    right: -1em;
    bottom: -1em;
    width: 590px;
  }

  /*
  .col-main::after {
    background: var(--clr-mint);
    content: '';
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    z-index: -2;
  }

  .img-plant {
    right: 15vw;
    bottom: -3em;
    width: 590px;
  }
  */

}


/* ###################### */
/* POSITIONING PLAYGROUND */
/* ---------------------- */

.img-plant {
  /* --- unset img global defaults set atop --- */
  /* display: unset; */
  /* max-width: unset; */
  /* --- eof unset --- */

  /* border: 3px solid green; */

  /* position: absolute; */
  /* top: 10px; */
  /* right: 30px; */
  /* bottom: 0px; */
  /* bottom: -60px; */
  /* left: -5.2em; */
  /* right: 4em; */
  /* bottom: 12em; */
  /* left: 0; */

  /* width: 350px; */
}

.img-plant-clipper {
  /* border: 3px solid blue; */

  /* overflow: hidden; */

  /* position: absolute; */
  /* top: 0; */
  /* right: -4em; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 30px; */
}
