/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-mint: #AADFC5;
  --clr-jade: #47946E;
  --clr-brown: #7A4900;
}

*, *::before, *::after {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ###### */
/* IMAGES */
/* ------ */

.img-plant { max-width: unset; }


/* ##### */
/* UTILS */
/* ----- */

.no-horizontal-scroll { overflow-x: hidden; }
