/* ###### */
/* GLOBAL */
/* ------ */

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  background: #F1F1F1 url(graph-bg.svg) no-repeat;
  font-family: 'Montserrat';
  margin: 0;
}

