/* ###### */
/* GLOBAL */
/* ------ */

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  background: #F1F1F1 url(graph-bg.svg) no-repeat;
  background-position: 0 20%;
  background-size: 150%;
  font-family: 'Montserrat';
  margin: 0;
  text-align: center;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
.p-quote { font-family: 'Playfair Display', serif; }

h1 {
  margin: 0 auto 1.5em;
  width: 70%;
}

.li-ul-quotes { margin-bottom: 2em; }

.ul-quotes {
  list-style: none;
  margin: 0 auto 2em;
  padding: 0;
  width: 80%;
}

.a-cta {
  background: #1DB473;
  border-radius: .3em;
  color: white;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}


/* ###### */
/* LAYOUT */
/* ------ */

/* Must position .col to stack it atop of .img-phone */
/* Or, simply: .img-phone {.. z-index: -1; ..} */
/* Excellent writeup: */
/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index */
.col-left {
  display: grid;
  height: 50vh;
  place-content: center;
  position: relative;
}

.col-right { margin-top: 12em; }

.container {
  margin: 4em auto 0;
  /* Is a containing block for .img-phone */
  position: relative;
  width: 96%;
}


/* ###### */
/* IMAGES */
/* ------ */

/* Heads up: absolutely centered !!! */
/* i.e. lifted from the page & centered */
/* But now we must position .col-left (see above)
  to stack it atop of .img-phone */
.img-phone {
  margin: auto;
  position: absolute;
  top: 2em;
  right: 0;
  left: 0;
  width: 250px;
  /* Instead of .col-left { position: relative; }: */
  /* z-index: -1; */
}

.img-portrait {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 400px) {

  body {
    background-position-y: 30%;
    background-size: 130%;
  }

  h1 {
    font-size: 2.5em;
    width: 90%;
  }

}

@media (min-width: 850px) {

  body {
    background-position-y: 80%;
    background-size: 100%;
    display: grid;
    height: 100vh;
    place-content: center;
    place-items: center;
    text-align: left;
  }

  /* ---------------------- */

  h1 { width: unset; }

  .p-auth { font-size: .8em; }

  .li-ul-quotes {
    align-items: center;
    background: #e8e8e8;
    border-radius: 1em;
    column-gap: .7em;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 1em;
  }

  .li-ul-quotes:first-child { transform: translateX(-2em); }

  .li-ul-quotes:nth-child(2) { transform: translateX(2em); }

  .ul-quotes { width: unset; }

  /* ---------------------- */

  .col-left,
  .col-right { padding: 3em; }

  .col-left { flex-basis: 75%; }

  .col-right { margin-top: unset; }

  .container {
    display: flex;
    margin: unset;
  }

  /* ---------------------- */

  .img-phone {
    left: 6%;
    margin: unset;
    top: 1.7em;
  }

}

@media (min-width: 1200px) {

  body { font-size: 1.07rem; }

}
